.modal.my-modal
    .lcl-modal-content
        .lcl-modal-header
            .lcl-modal-left
                .lcl-modal-title
                    span Nous contacter
            .lcl-modal-right
                .lcl-modal-close(ng-click="hidePhone()")
        .row(style="text-align:center;")
            div(style="padding:40px;") Oups, il semblerait que le service soit temporairement indisponible, merci de nous contacter directement au 01.34.67.99.26.